<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order form</title>
</head>
<body>
<h1>Order form</h1>
<p th:if="${error}" th:text="${error}"></p>

<form th:action="@{/order}" th:object="${pizzaOrder}" method="post">

    Name:
    <input type="text" th:field="*{customerName}"><br><br>

    Size:
    <select th:field="*{size}">
        <option th:each="s : ${sizes}" th:value="${s}" th:text="${s}"></option>
    </select>
    <br><br>

    Crust:
    <select th:field="*{crust}">
        <option th:each="c : ${crusts}" th:value="${c}" th:text="${c}"></option>
    </select>
    <br><br>

    Quantity:
    <input type="number" th:field="*{quantity}"><br><br>

    Toppings:<br>
    <div th:each="t : ${toppings}">
        <label>
            <input type="checkbox" th:field="*{toppings}" th:value="${t}">
            <span th:text="${t}"></span>
        </label>
        <br>
    </div>
    <br>

    Delivery:
    <input type="checkbox" th:field="*{delivery}">
    <br><br>

    Delivery Address:
    <input type="text" th:field="*{deliveryAddress}">
    <br><br>

    <button type="submit">Submit Order</button>

</form>

</body>
</html>