<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Order Summary</h1>

<p>Order Time: <span th:text="${order.orderTime}"></span></p>
<p>Name: <span th:text="${order.customerName}"></span></p>
<p>Size: <span th:text="${order.size}"></span></p>
<p>Crust: <span th:text="${order.crust}"></span></p>
<p>Quantity: <span th:text="${order.quantity}"></span></p>

<p>Toppings:
    <span th:if="${order.toppings == null || order.toppings.isEmpty()}">None</span>
    <span th:each="t : ${order.toppings}" th:text="${t + ' '}"></span>
</p>

<p>
    Delivery:
    <span th:text="${order.delivery ? 'Yes' : 'Pickup'}"></span>
</p>

<p th:if="${order.delivery}">
    Delivery Address:
    <span th:text="${order.deliveryAddress}"></span>
</p>
<hr>

<p>Subtotal: $<span th:text="${order.subtotal}"></span></p>
<p>Discount: $<span th:text="${order.discountAmount}"></span></p>
<p>Tax: $<span th:text="${order.tax}"></span></p>

<h3>Total: $<span th:text="${order.total}"></span></h3>

<a href="/order">New Order</a>
<br>
<a href="/history">View History</a>
</body>
</html>